@model Ankieta.Models.Data

<h1>Rejestracja zakończona pomyślnie</h1>
<p>Imię: @Model.Imie</p>
<p>Nazwisko: @Model.Nazwisko</p>
<p>E-mail: @Model.Email</p>
<p>Nr telefonu: @Model.NrTelefonu</p>
<p>Wiek: @Model.Wiek</p>
<p>Miasto: @Model.Miasto</p>
